<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pj.pj.bikefix" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".iphone_6_7_8_plus___1_activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___2_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___3_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___4_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___5_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___6_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___7_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___8_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___9_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___10_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___11_activity"
            android:label="@string/your_problem_string"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:parentActivityName=".iphone_6_7_8_plus___2_activity"></activity>
        <activity
            android:name=".iphone_6_7_8_plus___12_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___13_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___14_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___15_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___16_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <!-- default start 17 -->
        <activity
            android:name=".iphone_6_7_8_plus___17_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".iphone_6_7_8_plus___18_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___19_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___20_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___21_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___22_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___23_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___24_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___25_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___27_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___28_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___29_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___31_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___33_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___34_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___35_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___36_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___37_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___38_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___39_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___40_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___41_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___42_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".iphone_6_7_8_plus___44_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" />
    </application>

</manifest>